# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
CLAUDE.md:Zone.Identifier
AGENTS.md:Zone.Identifier
CLAUDE.mdZone.Identifier
design/mobile-design.jpg:Zone.Identifier
design/desktop-design.jpg:Zone.Identifier
preview.jpg:Zone.Identifier
.vscode/launch.json
